body{
    background-image: url("/BibliStyle/images/bibli_background1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size : 100% 100%;
    color: white;

}

div{
    /*border: 1px solid black;*/
}

.milieu{
    text-align:center;
}

.gauche{
    text-align:left;
}

.input90{
    padding-right: 20px;
    display:flex;
}