<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DROS{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('BibliStyle/css/bibliStyle.css') }}" >
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<header>
    {% block header %}
    {% endblock %}
</header>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 milieu" >
            {% block body %}{% endblock %}
        </div>
        <div class="col-md-2"></div>
    </div>
</div>


<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.js') }}"></script>

{% block javascripts %}{% endblock %}

</body>

<footer  class="footer-page">
    
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 milieu">
                <p>Tous droits réservés. <br/>
                    &copy Haya COHEN & Fanny JAMMES & Merlène LEJEUNE & Diu NGUYEN & Keren PEREZ
                </p>
            </div>

            <div class="col-md-2"></div>
        </div>
 
    {% block footer %}{% endblock %}
</footer>

</html>
