{% trans_default_domain 'FOSUserBundle' %}

<h2 class="form-signin-heading">Créer un compte</h2>


{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
<div class="form-signin">

    {{ form_label(form.email, 'Email', {'label_attr': {'class' : ''}}) }}
    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder' : 'email'}}) }}

    {{ form_label(form.username, 'Login') }}
    {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder' : 'login'}}) }}

    {{ form_label(form.plainPassword.first) }}
    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder' : 'mot de passe'}}) }}


    {{ form_label(form.plainPassword.second) }}
    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder' : 'répéter le mot de passe'}}) }}
    <div>
        <input type="submit"
               class="btn btn-lg btn-primary btn-block"
               id="_submit"
               name="_submit"
               value="{{ 'registration.submit'|trans }}" />
    </div>
</div>
{{ form_end(form) }}

