{% extends 'base.html.twig' %}

{% block header %}
    {{ include ('TPSymfonyBibliBundle:Default:menuConnecte.html.twig') }}
{% endblock %}

{% block body %}

    <div class="row" >

    <h3>L'article a été ajouté avec succès</h3>
        <div class ="row"></div>

    <a href="{{ path('ajouterArticle')}}"><input type="button" class="btn btn-primary" value="Ajouter un autre article"/></a>
    <a href="{{ path('listeArticleAuteur')}}"><input type="button" class="btn btn-info" value="Revenir à la liste des articles"/></a>

    </div>


{% endblock %}