{% extends 'base.html.twig' %}

{% block header %}
    {{ include ('TPSymfonyBibliBundle:Default:menuConnecte.html.twig') }}
{% endblock %}

{% block body %}

    <h2>Ajouter un article</h2>

    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 gauche">


        {{ form_start(ajoutArticleForm) }}

        <div class="form-group">

            <div class="row">
                <div class="col-md-4">
                    {{ form_label(ajoutArticleForm.title) }}
                </div>
                <div class="col-md-8 input90">
                    {{ form_errors(ajoutArticleForm.title) }}
                    {{ form_widget(ajoutArticleForm.title, {'attr': {'class': 'form-control'}}) }}
                </div>

              </div></br>
            
             <div class="row">
                <div class="col-md-4">
                    {{ form_label(ajoutArticleForm.subtitle) }}
                </div>
                <div class="col-md-8 input90">
                    {{ form_errors(ajoutArticleForm.subtitle) }}
                    {{ form_widget(ajoutArticleForm.subtitle, {'attr': {'class': 'form-control'}}) }}
                </div>

            </div></br>
            
             <div class="row">
                <div class="col-md-4">
                    {{ form_label(ajoutArticleForm.isbn) }}
                </div>
                <div class="col-md-8 input90">
                    {{ form_errors(ajoutArticleForm.isbn) }}
                    {{ form_widget(ajoutArticleForm.isbn, {'attr': {'class': 'form-control'}}) }}
                </div>

            </div></br>
            
           <div class="row">
                <div class="col-md-4">
                    {{ form_label(ajoutArticleForm.type) }}
                </div>
                <div class="col-md-8 input90 checker">
                    {{ form_errors(ajoutArticleForm.type) }}
                    {{ form_widget(ajoutArticleForm.type) }}
                </div>

            </div></br>
           
             <div class="row">
                <div class="col-md-4">
                    {{ form_label(ajoutArticleForm.editor) }}
                </div>
                <div class="col-md-8 input90">
                    {{ form_errors(ajoutArticleForm.editor) }}
                    {{ form_widget(ajoutArticleForm.editor, {'attr': {'class': 'form-control'}}) }}
                </div>

            </div></br>

            <div class="row">
                <div class="col-md-4">

                    {{ form_label(ajoutArticleForm.date) }}
                </div>
                <div class="col-md-8 input90">
                    {{ form_errors(ajoutArticleForm.date) }}
                    {{ form_widget(ajoutArticleForm.date, {'attr': {'class': 'form-control'}}) }}
                    <!-- IL FAUT LAISSER LA CLASS FORM-CONTROL sinon la date n'est pas visible sur Windows-->
                </div>

            </div></br>

            <div class="row">
                <div class="col-md-4">

                    {{ form_label(ajoutArticleForm.tags) }}
                </div>
                <div class="col-md-8 input90">
                    {{ form_errors(ajoutArticleForm.tags) }}
                    {{ form_widget(ajoutArticleForm.tags, {'attr': {'class': 'form-control'}}) }}
                </div>

             </div></br>

            <div class="row">
                <div class="col-md-4">

                    {{ form_label(ajoutArticleForm.brochure) }}
                </div>
                <div class="col-md-8 input90">
                    {{ form_errors(ajoutArticleForm.brochure) }}
                    {{ form_widget(ajoutArticleForm.brochure) }}
                </div>

            </div></br>
            
            
            <h2>Renseigner les elements connexes a l'article</h2>
            
             <div class="row">
                <div class="col-md-4">

                    {{ form_label(ajoutArticleForm.dataset) }}
                </div>
                <div class="col-md-8 input90">
                    {{ form_errors(ajoutArticleForm.dataset) }}
                    {{ form_widget(ajoutArticleForm.dataset) }}
                </div>

            </div></br>
            
            <div class="row">
                <div class="col-md-4">
                    {{ form_label(ajoutArticleForm.comments) }}
                </div>
                <div class="col-md-8 input90">
                    {{ form_errors(ajoutArticleForm.comments) }}
                    {{ form_widget(ajoutArticleForm.comments, {'attr': {'class': 'form-control'}}) }}
                </div>
      </div></br>
      
            <div class="row">
                <div class="col-md-4">
                    {{ form_label(ajoutArticleForm.hypothesis) }}
                </div>
                <div class="col-md-8 input90">
                    {{ form_errors(ajoutArticleForm.hypothesis) }}
                    {{ form_widget(ajoutArticleForm.hypothesis, {'attr': {'class': 'form-control'}}) }}
                </div>

                 </div></br>
            
            <div class="row">
                <div class="col-md-4">
                    {{ form_label(ajoutArticleForm.conclusions) }}
                    {{ form_errors(ajoutArticleForm.conclusions) }}
                </div>
                <div class="col-md-8 input90">
                    {{ form_widget(ajoutArticleForm.conclusions, {'attr': {'class': 'form-control'}}) }}
                </div>

                </div></br>
                
                 <div class="row">
                <div class="col-md-4">
                    {{ form_label(ajoutArticleForm.experiments) }}
                    {{ form_errors(ajoutArticleForm.experiments) }}
                </div>
                <div class="col-md-8 input90">
                    {{ form_widget(ajoutArticleForm.experiments, {'attr': {'class': 'form-control'}}) }}
                </div>

                </div></br>
                
                 <div class="row">
                <div class="col-md-4">
                    {{ form_label(ajoutArticleForm.links) }}
                    {{ form_errors(ajoutArticleForm.links) }}
                </div>
                <div class="col-md-8 input90">
                    {{ form_widget(ajoutArticleForm.links, {'attr': {'class': 'form-control'}}) }}
                </div>

                </div></br>
                 <div class="row">
                <div class="col-md-4">
                    {{ form_label(ajoutArticleForm.contributors) }}
                    {{ form_errors(ajoutArticleForm.contributors) }}
                </div>
                <div class="col-md-8 input90">
                    {{ form_widget(ajoutArticleForm.contributors, {'attr': {'class': 'form-control'}}) }}
                </div>

                </div></br>
                
                
                
        </div>

        {{ form_widget(ajoutArticleForm.ajouterArticle, {'attr': {'class': 'btn btn-danger'}}) }}
        {{ form_widget(ajoutArticleForm.annuler, {'attr': {'class': 'btn btn-info'}}) }}

        {{ form_end(ajoutArticleForm) }}
    </div>


{% endblock %}