{% extends 'base.html.twig' %}

{% block header %}
    {{ include ('TPSymfonyBibliBundle:Default:menuConnecte.html.twig') }}
{% endblock %}

{% block body %}
    <table class="table table-bordered">
        <h2>Détails de l'article</h2>

        <tbody>


        <tr>
            <td><strong>ISBN </strong></td>
            <td>{{ article.isbn }}</td>
        </tr>

        <tr>
            <td><strong>Title </strong></td>
            <td>{{ article.title }}</td>
        </tr>
                <tr>
            <td><strong>Type </strong></td>
            <td>{{ article.type }}</td>
        </tr>

        <tr>
            <td><strong>Contributors </strong></td>
            <td>
                {% for unContri in contributors if contributors !=null %}
                    {{ unContri.name }} ,
                {% endfor %}
            </td>
        </tr>

        <tr>
            <td><strong>Date </strong></td>
            <td> {{ article.getDate()|date('d-m-Y') }}</td>
        </tr>

        <tr>
            <td><strong>Tags </strong></td>
            <td>{{ article.tags }}</td>
        </tr>

        <tr>
            <td><strong>Editor </strong></td>
            <td>{{ article.editor }}</td>
        </tr>

        <tr>
            <td><strong>PDF </strong></td>
            <td> <a href="{{ path('afficherBrochure', {'pdfFilename':article.brochure}) }}">{{ article.brochure }}</a></td>
        </tr>
        <tr>
            <td><strong>Dataset</strong></td>
            <td> <a href="{{ path('afficherDataset', {'pdfFilename':article.dataset}) }}">{{ article.dataset }}</a></td>
        </tr>

        <tr>
            <td><strong>Hypothesis </strong></td>
            <td>{{ article.hypothesis }}</td>
        </tr>

        <tr>
            <td><strong>Conclusion </strong></td>
            <td>{{ article.conclusions }}</td>
        </tr>
        
        <tr>
            <td><strong>Experiments </strong></td>
            <td>{{ article.experiments }}</td>
        </tr>
        
        <tr>
            <td><strong>Links </strong></td>
            <td>{{ article.links }}</td>
        </tr>
        
        <tr>
            <td><strong>Partners </strong></td>
            <td>{{ article.contributors }}</td>
        </tr>

        </tbody>
    </table>



{% endblock %}

