{% extends 'base.html.twig' %}

{% block title %}Dauphine Research Operation System{% endblock %}


{% block header %}

        {% if is_granted('ROLE_USER') %}
        {{ include ('TPSymfonyBibliBundle:Default:menuConnecte.html.twig') }}
        {% else %}
            {{ include ('TPSymfonyBibliBundle:Default:menuNonConnecte.html.twig') }}
     {% endif %}

{% endblock %}

{% block body %}

    <section id = "presentation">
        <h2>Présentation générale</h2>
        <p>Bienvenue au nouveau centre de gestion des articles <br /> de Dauphine. <br />
            <br />
            Vous pouvez vous <a href="login">connecter</a> ou <a href="register">créer un compte</a> <br/>
            afin de profiter toutes fonctionnalités du site Internet.
        </p>
    </section
{% endblock %}

