

{% block header %}
    <nav class="navbar navbar-inverse">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Dauphine Research Operation System</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="/">Accueil</a></li>
                            <li><a href="{{ path('listeArticleAuteur')}}">Mes articles</a></li>
                            <li><a href="{{ path('listeArticle')}}">Tous les articles</a></li>
                            <li><a href="{{ path('ajouterArticle')}}">Ajouter un article</a></li>
                            <li><a href="{{ path('statistiques')}}">Statistiques</a></li>
                            <li><a href="/logout"><span class="glyphicon glyphicon-user"></span>Déconnexion</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </nav>

{% endblock %}

