<nav class="navbar navbar-inverse">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Dauphine Research Operating System</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/">Accueil</a></li>
                    <li><a href="/listeDesArticles">Liste des articles</a></li>
                    <li><a href="/login"><span class="glyphicon glyphicon-user"></span>Se connecter</a></li>
                    <li><a href="/register"><span class="glyphicon glyphicon-log-in"></span>Créer un compte</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</nav>