{% extends 'base.html.twig' %}

{% block header %}
    {{ include ('TPSymfonyBibliBundle:Default:menuConnecte.html.twig') }}
{% endblock %}

{% block body %}
    <table class="table table-bordered">
        <h2>Mes articles publiés</h2>
        <thead>
        <tr>
            <td><strong>Identifiant</strong></td>
            <td><strong>Title</strong></td>
            <td><strong>Date</strong></td>
            <td><strong>Tags</strong></td>
            <td><strong>Référencement</strong></td>
            <td><strong>PDF</strong></td>
        </tr>
        </thead>

        <tbody>
        {% for unArticle in article %}
            <tr>

                <td> {{ unArticle.idArticle }}</td>
                <td> <a href="{{ path('afficherDetail', {'idArticle':unArticle.idArticle}) }}">{{ unArticle.title }}</a></td>
                <td> {{ unArticle.getDate()|date('d-m-Y') }}</td>
                <td> {{ unArticle.tags }}</td>
                <td> {{ unArticle.referencement }}%</td>
                  <td>  {% if unArticle.getBrochure() %} <a href="{{ path('afficherBrochure', {'pdfFilename':unArticle.brochure}) }}"> PDF</a> {% endif %}</td>

                <td><a href="{{ path('modifierArticle', {'idArticle':unArticle.idArticle, 'title':unArticle.title})}}"><input type="button" class="btn btn-primary" value="Modifier"/></a></td>
                <td><a href="{{ path('supprimerArticle', {'idArticle':unArticle.idArticle, 'title':unArticle.title})}}"><input type="button" class="btn btn-warning" value="Supprimer"/></a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% if is_granted('ROLE_ADMIN') %}
        <td><a href="{{ path('ajouterArticle')}}"><input type="button" class="btn btn-success" value="Ajouter un article"/></a></td>
    {% endif %}


{% endblock %}

