{% extends 'base.html.twig' %}

{% block header %}
    {{ include ('TPSymfonyBibliBundle:Default:menuConnecte.html.twig') }}
{% endblock %}

    {% block body %}
        <h2>Modifier un article</h2>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 gauche">

                        {{ form_start(modifArticleForm) }}
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    {{ form_label(modifArticleForm.title) }}
                                </div>
                                <div class="col-md-8 input90">
                                    {{ form_errors(modifArticleForm.title) }}
                                    {{ form_widget(modifArticleForm.title, {'attr': {'class': 'form-control'}}) }}
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    {{ form_label(modifArticleForm.date) }}
                                </div>
                                <div class="col-md-8 input90">
                                    {{ form_errors(modifArticleForm.date) }}
                                    {{ form_widget(modifArticleForm.date) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    {{ form_label(modifArticleForm.tags) }}
                                </div>
                                <div class="col-md-8 input90">
                                    {{ form_errors(modifArticleForm.tags) }}
                                    {{ form_widget(modifArticleForm.tags, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-4">
                                    {{ form_label(modifArticleForm.brochure) }}
                                </div>
                                <div class="col-md-8 input90">
                                    {{ form_errors(modifArticleForm.brochure) }}
                                    {{ form_widget(modifArticleForm.brochure, {'attr': {'class': 'form-control','disabled' :'disabled'}}) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    {{ form_label(modifArticleForm.newBrochure) }}
                                </div>
                                <div class="col-md-8 input90">
                                    {{ form_errors(modifArticleForm.newBrochure) }}
                                    {{ form_widget(modifArticleForm.newBrochure) }}
                                </div>
                            </div>

                        </div>
                        
                        <div class="row">
                                <div class="col-md-4">
                                    {{ form_label(modifArticleForm.dataset) }}
                                </div>
                                <div class="col-md-8 input90">
                                    {{ form_errors(modifArticleForm.dataset) }}
                                    {{ form_widget(modifArticleForm.dataset, {'attr': {'class': 'form-control','disabled' :'disabled'}}) }}
                                </div>
                            </div>

                           

                    
                    
                            <h2>Modifier les elements connexes a l'article</h2>
            
                  <div class="row">
                                <div class="col-md-4">
                                    {{ form_label(modifArticleForm.newDataset) }}
                                </div>
                                <div class="col-md-8 input90">
                                    {{ form_errors(modifArticleForm.newDataset) }}
                                    {{ form_widget(modifArticleForm.newDataset) }}
                                </div>
                            </div>
            
                        <div class="row">
                            <div class="col-md-4">
                                {{ form_label(modifArticleForm.comments) }}
                            </div>
                            <div class="col-md-8 input90">
                                {{ form_errors(modifArticleForm.comments) }}
                                {{ form_widget(modifArticleForm.comments, {'attr': {'class': 'form-control'}}) }}
                            </div>
            
                        </div>
                        
                        <div class="row">
                            <div class="col-md-4">
                                {{ form_label(modifArticleForm.hypothesis) }}
                            </div>
                            <div class="col-md-8 input90">
                                {{ form_errors(modifArticleForm.hypothesis) }}
                                {{ form_widget(modifArticleForm.hypothesis, {'attr': {'class': 'form-control'}}) }}
                            </div>
            
                        </div>
                        
                        <div class="row">
                            <div class="col-md-4">
                                {{ form_label(modifArticleForm.conclusions) }}
                                {{ form_errors(modifArticleForm.conclusions) }}
                            </div>
                            <div class="col-md-8 input90">
                                {{ form_widget(modifArticleForm.conclusions, {'attr': {'class': 'form-control'}}) }}
                            </div>
            
                        </div>
                        
                         <div class="row">
                            <div class="col-md-4">
                                {{ form_label(modifArticleForm.experiments) }}
                                {{ form_errors(modifArticleForm.experiments) }}
                            </div>
                            <div class="col-md-8 input90">
                                {{ form_widget(modifArticleForm.experiments, {'attr': {'class': 'form-control'}}) }}
                            </div>
            
                        </div>
                        
                         <div class="row">
                            <div class="col-md-4">
                                {{ form_label(modifArticleForm.links) }}
                                {{ form_errors(modifArticleForm.links) }}
                            </div>
                            <div class="col-md-8 input90">
                                {{ form_widget(modifArticleForm.links, {'attr': {'class': 'form-control'}}) }}
                            </div>
            
                        </div>
                        
                         <div class="row">
                            <div class="col-md-4">
                                {{ form_label(modifArticleForm.contributors) }}
                                {{ form_errors(modifArticleForm.contributors) }}
                            </div>
                            <div class="col-md-8 input90">
                                {{ form_widget(modifArticleForm.contributors, {'attr': {'class': 'form-control'}}) }}
                            </div>
            
                        </div>

                    {{ form_widget(modifArticleForm.modifierArticle, {'attr': {'class': 'btn btn-danger'}}) }}
                    {{ form_widget(modifArticleForm.annuler, {'attr': {'class': 'btn btn-info'}}) }}

                    {{ form_end(modifArticleForm) }}


            </div>
            <div class="col-md-2"></div>
        </div>

    {% endblock %}
