{% extends 'base.html.twig' %}

{% block header %}
    {{ include ('TPSymfonyBibliBundle:Default:menuConnecte.html.twig') }}
{% endblock %}

{% block body %}
    <table class="table table-bordered">
        <h2>Statistiques DROS</h2>
        <thead>
        <tr>
            <td><strong>Intitulé</strong></td>
            <td><strong>Données</strong></td>
        </tr>
        </thead>

        <tbody>
        {% for myStat in stats %}
            <tr>

                <td> {{ myStat.title }}</td>
                <td> {{ myStat.value }}</a></td>

            </tr>
        {% endfor %}
        </tbody>

    </table>



{% endblock %}

