{% extends 'base.html.twig' %}

{% block header %}
    {{ include ('TPSymfonyBibliBundle:Default:menuConnecte.html.twig') }}
{% endblock %}

    {% block body %}

        <h2>Supprimer un article</h2>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 gauche">

                        {{ form_start(suppressionForm) }}
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    {{ form_label(suppressionForm.title) }}
                                </div>
                                <div class="col-md-8 input90">
                                    {{ form_errors(suppressionForm.title) }}
                                    {{ form_widget(suppressionForm.title, {'attr': {'class': 'form-control'}}) }}
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-4">

                                    {{ form_label(suppressionForm.date) }}
                                </div>
                                <div class="col-md-8 input90">
                                    {{ form_errors(suppressionForm.date) }}
                                    {{ form_widget(suppressionForm.date) }}
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-4">

                                    {{ form_label(suppressionForm.tags) }}
                                </div>
                                <div class="col-md-8 input90">
                                    {{ form_errors(suppressionForm.tags) }}
                                    {{ form_widget(suppressionForm.tags, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    {{ form_label(suppressionForm.brochure) }}
                                </div>
                                <div class="col-md-8 input90">
                                    {{ form_errors(suppressionForm.brochure) }}
                                    {{ form_widget(suppressionForm.brochure, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>




                    {{ form_widget(suppressionForm.supprimerArticle, {'attr': {'class': 'btn btn-danger'}}) }}
                    {{ form_widget(suppressionForm.annuler, {'attr': {'class': 'btn btn-info'}}) }}

                    {{ form_end(suppressionForm) }}




            </div>
            <div class="col-md-2"></div>
        </div>

    {% endblock %}

