{% extends 'base.html.twig' %}

{% block header %}
    {{ include ('TPSymfonyBibliBundle:Default:menuConnecte.html.twig') }}
{% endblock %}

{% block body %}

    <div class="row">
        <h2>Tous les articles publiés</h2>
        <div class="col-md-2"></div>
        <div class="col-md-8 gauche">

            <table class="table table-bordered">
                <h4>Rechercher un article</h4>
                <tbody>
                {{ form_start(rechercheArticleForm) }}
                <tr>
                    <td>
                        <div class="col-md-4">
                            {{ form_label(rechercheArticleForm.title) }}
                        </div>
                        <div class="col-md-8 input90">
                            {{ form_errors(rechercheArticleForm.title) }}
                            {{ form_widget(rechercheArticleForm.title, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </td>
                    <td>
                        {{ form_widget(rechercheArticleForm.rechercherArticleByTitle, {'attr': {'class': 'btn btn-danger'}}) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="col-md-4">
                            {{ form_label(rechercheArticleForm.tags) }}
                        </div>
                        <div class="col-md-8 input90">
                            {{ form_errors(rechercheArticleForm.tags) }}
                            {{ form_widget(rechercheArticleForm.tags, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </td>
                    <td>
                        {{  form_widget(rechercheArticleForm.rechercherArticleByTags, {'attr': {'class': 'btn btn-danger'}}) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="col-md-4">
                            {{ form_label(rechercheArticleForm.date) }}
                        </div>
                        <div class="col-md-10 input90">
                            {{ form_errors(rechercheArticleForm.date) }}
                            {{ form_widget(rechercheArticleForm.date, {'attr': {'class': 'form-control'}}) }}
                            <!-- IL FAUT LAISSER LA CLASS FORM-CONTROL sinon la date n'est pas visible sur Windows-->
                        </div>
                    </td>
                    <td>
                        {{  form_widget(rechercheArticleForm.rechercherArticleByDate, {'attr': {'class': 'btn btn-danger'}}) }}
                    </td>
                </tr>
                {{ form_end(rechercheArticleForm) }}
                </tbody>
            </table>

        </div>
        <div class="col-md-2"></div>

        <table class="table table-bordered">
            <thead>
            <tr>
                <td><strong>Identifiant</strong></td>
                <td><strong>Title</strong></td>
                 <td><strong>Type</strong></td>
                <td><strong>Date</strong></td>
                <td><strong>Tags</strong></td>
                <td><strong>PDF</strong></td>
                <td><strong>Référencement</strong></td>
            </tr>
            </thead>

            <tbody>
            {% for unArticle in article %}
                <tr>
                    <td> {{ unArticle.idArticle }}</td>
                    <td> <a href="{{ path('afficherDetail', {'idArticle':unArticle.idArticle}) }}">{{ unArticle.title }}</a></td>
                    <td> {{ unArticle.type }}</td>
                    <td> {{ unArticle.getDate()|date('d-m-Y') }}</td>
                    <td> {{ unArticle.tags }}</td>
                    <td>  {% if unArticle.getBrochure() %} <a href="{{ path('afficherBrochure', {'pdfFilename':unArticle.brochure}) }}"> PDF</a> {% endif %}</td>
                    <td> {{ unArticle.referencement}}%</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <td><a href="{{ path('ajouterArticle')}}"><input type="button" class="btn btn-success" value="Ajouter un article"/></a></td>




    </div>


{% endblock %}

