{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <h2 class="form-signin-heading">Se connecter</h2>

    <label for="username" class="sr-only">{{ 'security.login.username'|trans }}</label>
    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" placeholder="Login"
           required autofocus />

    <label for="password" class="sr-only">{{ 'security.login.password'|trans }}</label>
    <input type="password" class="form-control" id="password" name="_password" placeholder="Mot de passe" required="required" />

    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me">{{ 'security.login.remember_me'|trans }}
        </label>
    </div>

    <input type="submit"
           class="btn btn-lg btn-primary btn-block"
           id="_submit"
           name="_submit"
           value="{{ 'security.login.submit'|trans }}" />

</form>



